@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');


*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Short Stack', cursive;
}


/* ------------------------HEADER---------------------- */


header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  position: sticky;
  top: 0;
}

.logo{
  text-decoration: none;
}

nav {
  Display: flex;
  justify-content: center;
  margin: 5px;
  width: 100%;
}

.navbar{
  justify-content: space-around;
}

.navbar a{
  text-decoration: none;
}

.navbar a:hover{
  text-decoration:underline;
}


/* -------------------------MAIN ------------------- */

hr{
  margin: 10px 0;
}

main{
  height: 20000px;
}


/* -----------------------------HOME ------------------------------ */

.home{
  display: grid;
}

.home div{
  height: 500px;
}









/* ---------------------------LANDSCAPE MEDIA QUERY--------------------------- */

@media (min-width: 768px) {

  body{
    font-size: 1.5rem;
  }

  .home{
    grid-template-columns: 50% 50%;
  }
}
